In [1]:
import os
import requests
import json
import pandas as pd
import numpy as np
from datetime import datetime, date

In [2]:
data_file = "Resources/Onyx-Data-UFO-Sightings-Dataset.csv"

In [3]:
ufoSighting_df = pd.read_csv(data_file,dtype={"datetime": "string", \
                                              "city": "string",\
                                              "state": "string",\
                                              "country": "string",\
                                              "shape":"string",\
                                              "duration":"string",\
                                              "duration (hours/min)":"string",\
                                              "comments":"string",\
                                              "date posted":"string",\
                                              "latitude":"string",\
                                              "longitude":"string"})

C:\Users\Mary Mays\anaconda3\envs\AdvPandaEnv\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ufoSighting_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,<NA>,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),<NA>,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [5]:

ufoSighting_df.drop('date posted', axis=1,inplace = True)
ufoSighting_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,<NA>,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),<NA>,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611

In [6]:
date_time_str = ufoSighting_df.loc[0,'datetime']
print(date_time_str)
dt2 = datetime.strptime(date_time_str,"%m/%d/%Y %M:%S")
print('Date:', dt2.date())
DateStr = dt2.strftime("%d/%m/%Y")
print(DateStr)

10/10/1949 20:30
Date: 1949-10-10
10/10/1949

In [7]:
def convert_date(dt_tm):
    dt2 = datetime.strptime(dt_tm,"%m/%d/%Y %M:%S")
    return dt2.strftime("%d/%m/%Y")

ufoSighting_df['datetime'] = ufoSighting_df['datetime'].apply(convert_date)

In [8]:
ufoSighting_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,latitude,longitude
0,10/10/1949,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,29.8830556,-97.941111
1,10/10/1949,lackland afb,tx,<NA>,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.38421,-98.581082
2,10/10/1955,chester (uk/england),<NA>,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,53.2,-2.916667
3,10/10/1956,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,28.9783333,-96.645833
4,10/10/1960,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611

In [9]:

json_data = ufoSighting_df.to_json(orient = "records")

In [10]:
json_split = json_data.split('},')
string_json = []
for entry in json_split:
    string = entry + "}" 
    string = string.replace("\\","")
    string = string.replace("[","")
    string = string.replace("]","")
    string = string.replace("}}","}")
    string_json.append(string)

In [11]:
print(string_json[len(string_json) -1])

{"datetime":"09/09/2013","city":"edmond","state":"ok","country":"us","shape":"cigar","duration (seconds)":1020.0,"duration (hours/min)":"17 minutes","comments":"2 witnesses 2  miles apart&#44 Red &amp; White Elongated-Cigar Shaped Flashing lights&#44 NW of Oklahoma City","latitude":"35.6527778","longitude ":-97.4777778}

In [14]:

with open('listfile.js', 'w') as filehandle:
    #add the bit in the f'ront
    filehandle.write('var data2 = [')
    for listitem in string_json:
        filehandle.write('%s,\n' % listitem)
    filehandle.write(']')