In [1]:
import os
import requests
import json
import pandas as pd
import numpy as np
from datetime import datetime, date

In [2]:
data_file = "Resources/Onyx-Data-UFO-Sightings-Dataset.csv"

In [3]:
ufoSightingFull_df = pd.read_csv(data_file,dtype={"datetime": "string", \
                                              "city": "string",\
                                              "state": "string",\
                                              "country": "string",\
                                              "shape":"string",\
                                              "duration":"string",\
                                              "duration (hours/min)":"string",\
                                              "comments":"string",\
                                              "date posted":"string",\
                                              "latitude":"string",\
                                              "longitude":"string"})

C:\Users\Mary Mays\anaconda3\envs\AdvPandaEnv\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ufoSightingFull_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,<NA>,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),<NA>,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [5]:
#Lets pare this down - its a big dataset to handle clientside

In [6]:

ufoSightingFull_df.drop('date posted', axis=1,inplace = True)
ufoSighting_df = ufoSightingFull_df.sample(frac=0.50)

In [7]:
ufoSighting_df.count()

datetime                40166
city                    40166
state                   37375
country                 35367
shape                   39191
duration (seconds)      40166
duration (hours/min)    40166
comments                40160
latitude                40166
longitude               40166
dtype: int64

In [8]:
def convert_date(dt_tm):
    dt2 = datetime.strptime(dt_tm,"%m/%d/%Y %M:%S")
    return dt2.strftime("%m/%d/%Y")

ufoSighting_df['datetime'] = ufoSighting_df['datetime'].apply(convert_date)

In [15]:
ufoSighting_df['country'] = ufoSighting_df['country'].fillna('')
ufoSighting_df['state'] = ufoSighting_df['state'].fillna('')
ufoSighting_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,latitude,longitude
59706,07/25/2008,maricopa,az,us,diamond,60,1 minute,Extremely low flying Diamond shaped UFO travel...,33.0580556,-112.046944
68641,08/02/2008,wapakoneta,oh,us,sphere,90,1.5 minutes,sphere with orange flame moving across sky.,40.5677778,-84.193611
64524,08/11/2003,salem/peabody,ma,,other,600,10 minutes,Long black cylindrical object ;with large bowl...,42.535793,-70.966568
66848,08/15/2013,warm springs,ga,us,cylinder,2700,30-45 minutes,Orb dancing across the sky while ufo was near&#33,32.8902778,-84.681111
32094,03/17/2010,avon,ma,us,light,30,30 seconds,bright drifting light fading away into sky,42.1305556,-71.041667

In [16]:

json_data = ufoSighting_df.to_json(orient = "records")

In [17]:
json_split = json_data.split('},')
string_json = []
for entry in json_split:
    string = entry + "}" 
    string = string.replace("\\","")
    string = string.replace("[","")
    string = string.replace("]","")
    string = string.replace("}}","}")
    string_json.append(string)

In [18]:
print(string_json[len(string_json) -1])

{"datetime":"09/20/2009","city":"porterville","state":"ca","country":"us","shape":"sphere","duration (seconds)":1800.0,"duration (hours/min)":"30 plus min and still out","comments":"round ball hovering change colors from blue&#44 red and orange","latitude":"36.0652778","longitude ":-119.0158333}

In [19]:

with open('listfile.js', 'w') as filehandle:
    #add the bit in the f'ront
    filehandle.write('var data2 = [')
    for listitem in string_json:
        filehandle.write('%s,\n' % listitem)
    filehandle.write(']')